PIP_EXTRA: [cpu]
torch==1.12.1
torchvision==0.13.1
torchaudio==0.12.1 
--extra-index-url https://download.pytorch.org/whl/cpu

PIP_EXTRA: [gpu]
torch==1.12.1+cu113
torchvision==0.13.1+cu113
torchaudio==0.12.1
--extra-index-url https://download.pytorch.org/whl/cu113