hdbscan==0.8.36
holoviews[recommended]==1.19.0
jupyter==1.0.0
kymatio==0.3.0
matplotlib==3.9.0
natsort==8.4.0
numpy==1.26.4
opencv_contrib_python_headless<=4.10.0.84
optuna==3.6.1
Pillow==10.3.0
pytest==8.2.2
scikit_learn==1.5.0
scipy==1.13.1
seaborn==0.13.2
sparse==0.15.4
tqdm==4.66.4
umap_learn==0.5.6
xxhash==3.4.1
bokeh==3.4.1
psutil==6.0.0
py_cpuinfo==9.0.0
GPUtil==1.4.0
PyYAML==6.0.1
mat73==0.63
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
selenium==4.21.0
skl2onnx==1.17.0
onnx==1.16.1
onnxruntime==1.18.0
jupyter_bokeh==4.0.5
onnx2torch==1.5.14
