umap-learn
hdbscan
gdown
ipywidgets
kymatio
matplotlib
numpy
opencv_contrib_python
pandas
Pillow
scikit_learn
scipy
seaborn
sparse
tqdm
natsort
jupyter
paramiko
pyyaml
hdfdict
optuna
joblib
Cython
einops
xxhash
pytest
tox

expecttest
hypothesis