hdbscan==0.8.39
holoviews[recommended]==1.19.1
jupyter==1.0.0
kymatio==0.3.0
matplotlib==3.9.2
natsort==8.4.0
numpy==2.0.2
opencv_contrib_python_headless<=4.10.0.84
optuna==4.0.0
Pillow==11.0.0
pytest==8.3.3
scikit_learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
sparse==0.15.4
tqdm==4.66.5
umap_learn==0.5.6
xxhash==3.5.0
bokeh==3.6.0
psutil==6.1.0
py_cpuinfo==9.0.0
GPUtil==1.4.0
PyYAML==6.0.2
mat73==0.65
torch==2.5.0
torchvision==0.20.0
torchaudio==2.5.0
selenium==4.25.0
skl2onnx==1.17.0
onnx==1.17.0
onnxruntime==1.19.2
jupyter_bokeh==4.0.5
onnx2torch==1.5.15
richfile>=0.4.5