name: build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:

  build_CPU:

    name: ${{ matrix.platform }}, py${{ matrix.python-version }}, ${{ matrix.extra }}
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [
          # ubuntu-latest,
          ubuntu-22.04,
          # ubuntu-20.04,
          # ubuntu-18.04,
          # # windows-latest,
          # windows-2022,
          # windows-2019,
          # windows-2016,
          # # macos-latest,
          # macos-12.0,
          # macos-11.0,
          # macos-10.15,
        ]
        python-version: [ 
          # "3.8",
          "3.9",
          # "3.10",
        ]
        extra: [
          core,
          core_latest,
        ]

    steps:
    
    - name: Set up conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: latest
        activate-environment: ROICaT
        auto-activate-base: true
        auto-update-conda: false
        remove-profiles: true
        architecture: x64
        clean-patched-environment-file: true
        run-post: true

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Check out repository code
      uses: actions/checkout@v3
        
    - name: PowerShell Core
      shell: pwsh
      run: |
          conda info
          conda list
    
    - name: Prepare path, environment, and basic pip packages
      run: |
        ## cd to github workspace
        # cd $GITHUB_WORKSPACE
        
        ## check current directory (pwd)
        pwd

        ## activate conda environment        
        conda activate ROICaT || true

        ## install pip, wheel, setuptools, tox
        python -m pip install --upgrade pip setuptools wheel pytest tox tox-gh-actions

    - name: Install ROICaT with pip dependencies
      run: |
        pip install --user -v -e .[${{ matrix.extra }}]

    - name: Run tox + pytest on ROICaT and some key dependencies
      run: |
        pip install tox pytest
        tox -v -v -v
