name: build

on:
  push:
    # branches: [ "main" ]
    branches: [ "main", "dev" ]
  # pull_request:
  #   branches: [ "main" ]

permissions:
  contents: read

jobs:

  build_CPU:

    name: ${{ matrix.platform }}, py${{ matrix.python-version }}, ${{ matrix.extra }}
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [
          # ubuntu-latest,
          ubuntu-22.04,
          ubuntu-20.04,
          # ubuntu-18.04,
          # # windows-latest,
          windows-2022,
          windows-2019,
          # windows-2016,
          # # macos-latest,
          # macos-12.0,  ## RH: not working 20230507
          macos-11.0,
          # macos-10.15,
        ]
        python-version: [ 
          # "3.8",
          "3.9",
          "3.10",
          "3.11",
        ]
        extra: [
          core,
          # core_latest,
        ]

    steps:
    
    - name: Set up conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: latest
        activate-environment: ROICaT
        auto-activate-base: true
        auto-update-conda: false
        remove-profiles: true
        architecture: x64
        clean-patched-environment-file: true
        run-post: true

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Check out repository code
      uses: actions/checkout@v3
        
    - name: PowerShell Core
      shell: pwsh
      run: |
          conda info
          conda list
    
    - name: Prepare path, environment, and basic pip packages
      run: |
        ## cd to github workspace
        # cd $GITHUB_WORKSPACE
        
        ## check current directory (pwd)
        pwd

        ## activate conda environment        
        conda activate ROICaT || true

        ## install pip, wheel, setuptools
        python -m pip install --upgrade pip setuptools wheel pytest


    # - name: Install ROICaT with pip dependencies - Windows
    #   if: runner.os == 'Windows'
    #   run: |
    #     pip install --user -v -e .[${{ matrix.extra }}]

    # - name: Install ROICaT with pip dependencies - Ubuntu
    #   if: runner.os == 'Linux'
    #   run: |
    #     pip install --user -v -e .[${{ matrix.extra }}]

    # - name: Install ROICaT with pip dependencies - macOS
    #   if: runner.os == 'macOS'
    #   run: |
    #     pip install --user -v -e .[${{ matrix.extra }}]

    - name: Install ROICaT with pip dependencies
      run: |
        pip install --user -v -e .[${{ matrix.extra }}]


    - name: Run pytest on ROICaT and some key dependencies
      run: |
        # pip install tox tox-gh-actions
        pip install pytest
        pytest -v
